Repository blake-samaha/pm_app: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && uv run ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write .'
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json]
        pass_filenames: false

refactor: update pre-commit hook installation and fix foreign key definitions in Risk model
  Makefile
  backend/models/risk.py
Due: ty

feat: implement new permission checks and user role updates
  backend/permissions.py
  backend/routers/sync.py
  backend/routers/users.py
  backend/schemas/__init__.py
  backend/schemas/user.py
  backend/services/action_service.py
  backend/services/project_service.py
  backend/services/risk_service.py
  backend/tests/unit/test_permissions.py
Due: ty

fix: update Dockerfile to exclude .venv from reload watching and enhance Firebase initialization logic
  backend/Dockerfile
  backend/services/auth_service.py
Due: ty

feat: enhance logging configuration and add middleware for request tracking
  Makefile
  backend/config.py
  backend/database.py
  backend/main.py
  backend/middleware/__init__.py
  backend/middleware/logging.py
  backend/middleware/request_context.py
  backend/pyproject.toml
  backend/uv.lock
  scripts/pre-commit-hook
Due: ty

fix: update pre-commit hook to use absolute paths for configuration
  scripts/pre-commit-hook
Due: none

feat: Add micro-communication (per-story chat) for action items
  backend/models/comment.py
  backend/repositories/__init__.py
  backend/repositories/comment_repository.py
  backend/routers/actions.py
  backend/routers/risks.py
  backend/schemas/__init__.py
  backend/schemas/user.py
  backend/serializers/__init__.py
  backend/serializers/api_models.py
  backend/services/action_service.py
  backend/services/risk_service.py
  backend/tests/integration/test_action_endpoints.py
  backend/tests/unit/services/test_action_service.py
  frontend/components/comments/CommentThread.tsx
  frontend/components/project/ActionTable.tsx
  frontend/components/project/RiskList.tsx
  frontend/hooks/useActions.ts
  frontend/types/actions-risks.ts
Due: ty, prettier
